/* Custom overrides */

/* Main */
#main > header {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
}
/* Footer */
#footer {
	padding: 6em 0 4em 0 ;
	background-color: #1d242a;
	text-align: center;
}
/* Landing */
body.landing #page-wrapper {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
}
body.landing #footer {
	background-color: rgba(29, 36, 42, 0.9);
}
body.is-mobile.landing #page-wrapper {
	background: none;
}
body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/new-zealand-satellite.jpg");
}
body.is-mobile.landing #footer {
	background-color: #1d242a;
}

.icon.major.hlist {
	-moz-transform: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	transform: initial;
	border: none;
	display: inline-block;
	font-size: 1.5em;
	height: calc(3em + 2px);
	line-height: 3em;
	text-align: center;
	width: calc(4.2em + 2px);	
}

.icon.major.hlist:before {
	-moz-transform: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	transform: initial;
}

.icon.major.hlist .icon-label {
	font-size: 1em;
	height: calc(1.2em);
	line-height: 1.2em;
}